@model IEnumerable<TheIronArmada.Models.Armory>

@{
    ViewBag.Title = "Index";
}

<h2>Armada</h2>

<p>
    @Html.ActionLink("Create New", "Create")| @Html.ActionLink("Delete", "Delete")
</p>

@*For each loop to display all suits*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4" style="height:375px; width:270px;">
            <div class="thumbnail">
                <div class="caption text-center">
                    <div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Color)</p>
                        <p>@Html.DisplayFor(modelItem => item.Season.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Occasion.Name)</p>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.ArmoryID }, new { role = "button", @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>