<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Iron Fleet Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navColor navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar navColor"></span>
                    <span class="icon-bar navColor"></span>
                    <span class="icon-bar navColor"></span>
                </button>
               <div class="navColor"> @Html.ActionLink("Stark Industries", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            </div>
            <div class="navbar-collapse navColor collapse">
                <ul class="nav navColor navbar-nav navbar-right">
                    <li class="navColor">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="navColor">@Html.ActionLink("Construct New Model", "Create", "Armories")</li>
                    <li class="navColor">@Html.ActionLink("View The Armada", "Index", "Armories")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stark Industries Inc. </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
